/vendor
/node_modules
.env
/.pki/
/.usermin/
/.gnome2/
/.mozilla/
/cgi-bin/
/etc/
/fcgi-bin/
/homes/
/domains/
/default/
/error_docs/
/logs/
/app/logs/
/Maildir/
/tmp/
nbproject/
/protected/runtime/
/var/
.idea/
.cache/
cache/
/.bash_logout
/.bash_profile
/.bashrc
/.virtualmin-src
/.git-ftp.log
/ssl.cert
/ssl.key
/nginx.conf
*.pyc
/nohup.out
/app/config/Config.py
/app/data/default.db
/app/logs/access_log
/app/logs/error_log